


<br>
<h1>CEX.IO Api Authentication</h1>
<h6>{{Ctrl.authStatusMessage}}</h6>
<br>

<div class="row" ng-hide="Ctrl.authSuccess">
    <div class="col-md-12">
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <!-- <legend>CEX.IO Api Authentication</legend> -->

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="UserID">User ID</label>
                    <div class="col-md-5">
                        <input id="UserID" ng-model="Ctrl.userID" name="UserID" type="text" placeholder="up15859853" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label  class="col-md-4 control-label" for="apiSecret">API Secret</label>
                    <div class="col-md-5">
                        <input ng-model="Ctrl.apiSecret" id="apiSecret" name="apiSecret" type="text" placeholder="G7FD98G7D98G7D" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="apiKey">API Key</label>
                    <div class="col-md-5">
                        <input ng-model="Ctrl.apiKey" id="apiKey" name="apiKey" type="text" placeholder="KDG8F7DG8D67FG987DF" class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="Submit"></label>
                    <div class="col-md-4">
                        <button ng-click="Ctrl.ValidateInfo()" id="Submit" name="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>

<div class="row m-5" ng-show="Ctrl.authSuccess">
        <div class="alert alert-dismissible alert-success">
            <br><br>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong> {{Ctrl.authStatusMessage}} </strong>
                <br><br>
                <h6>Return to main page</h6>
         </div>
</div>